@{
    Layout = null;
}<style>
    .disabled {
        cursor: pointer !important;
        
    }
    .buttonselected {
        border: 3px solid;
    }
    .perm {
        background-repeat: no-repeat;
        height: 30px;
    }
    .perm-1 {
        background-image: url("/Content/Template/images/Perm1.gif");
    }
    .perm-2 {
        background-image: url("/Content/Template/images/Perm2.gif");
    }
    .perm-3 {
        background-image: url("/Content/Template/images/Perm3.gif");
    }
    .perm-4 {
        background-image: url("/Content/Template/images/Perm4.gif");
    }
    .perm-5 {
        background-image: url("/Content/Template/images/Perm5.gif");
    }
    .perm-6 {
        background-image: url("/Content/Template/images/Perm6.gif");
    }
    .perm-7 {
        background-image: url("/Content/Template/images/Perm7.gif");
    }
    </style>
<div class="row" id="powerwidgets">
    <div class="col-md-12 bootstrap-grid">
        <!-- New widget -->
        <div class="powerwidget dark-red powerwidget-sortable" id="registration-form-validation-widget" data-widget-editbutton="false" role="widget" style="">
            <header role="heading">
                <h2>Cadastrar<small>Perfil</small></h2>
                <div class="powerwidget-ctrls" role="menu"><a href="#" class="button-icon powerwidget-fullscreen-btn"><i class="fa fa-arrows-alt "></i></a><a href="#" class="button-icon powerwidget-edit-btn"><i class="fa fa-cog"></i></a> <a href="#" class="button-icon powerwidget-toggle-btn"><i class="fa fa-chevron-circle-up "></i></a></div><span class="powerwidget-loader"></span>
            </header>
            <div class="inner-spacer" role="content" data-bind="if: Selected()">
                <div class="powerwidget-editbox">
                    <div>
                        <label>Estilos:</label>
                        <span data-widget-setstyle="pink" class="pink-btn"></span> <span data-widget-setstyle="blue" class="blue-btn"></span> <span data-widget-setstyle="dark-blue" class="dark-blue-btn"></span> <span data-widget-setstyle="green" class="green-btn"></span> <span data-widget-setstyle="green-alt" class="green-alt-btn"></span> <span data-widget-setstyle="green-acid" class="green-acid-btn"></span> <span data-widget-setstyle="yellow" class="yellow-btn"></span> <span data-widget-setstyle="purple" class="purple-btn"></span> <span data-widget-setstyle="cold-grey" class="cold-grey-btn"></span> <span data-widget-setstyle="dark-cold-grey" class="dark-cold-grey-btn"></span> <span data-widget-setstyle="orange" class="orange-btn"></span> <span data-widget-setstyle="red" class="red-btn"></span> <span data-widget-setstyle="dark-red" class="dark-red-btn"></span> <span data-widget-setstyle="black" class="black-btn"></span>
                    </div>
                </div>
                <form data-bind="submit: salvar" action="" class="orb-form">
                    <header><span data-bind="text: Selected().Nome"></span></header>
                    <fieldset>
                        <div class="row">
                            <section class="col col-9">
                                <label class="input">
                                    <div id="clienteCliente" placeholder="Cliente" data-bind="Select: Selected().ClienteId,DivShow:'SelectedCliente',TooltipMessage:'Cliente',IconClass:'glyphicon-briefcase',SetField:'ClienteId', ObjectToSet: model.Selected(),ValueField:'Id', SelectableItems: ko.mapping.toJS(model.Clientes()),DisplayField: 'Nome' "></div>
                                    <div id="SelectedCliente"></div>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-9">
                                <label class="input">
                                    <i class="icon-prepend entypo-doc-text"></i>
                                    <input type="text" name="iccid" data-bind="value: Selected().Nome,valueUpdate:'afterkeydown'" placeholder="Descrição do Perfil">
                                    <b class="tooltip tooltip-right">Descrição do Perfil</b>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-5">
                                <label class="input">
                                    <i class="icon-prepend glyphicon glyphicon-sort"></i>
                                    <input type="text" name="plano" data-bind="value: Selected().PlanoDados,valueUpdate:'afterkeydown'" placeholder="Plano de Dados">
                                    <b class="tooltip tooltip-right">Plano de Dados do Chip</b>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <div class="tree well margin-0px">
                        <ul>
                            <li class="parent_li">
                                <span title="Collapse this branch"><i class="glyphicon entypo-vcard"></i> Cadastros</span> <!--Buttons-->
                                <!--/Buttons-->
                                <ul>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Cliente</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoClientes()&1)==1},value: Selected().AcessoClientes,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoClientes((Selected().AcessoClientes()&1)==1?data.Selected().AcessoClientes()-1:data.Selected().AcessoClientes()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoClientes()&2)==2},value: Selected().AcessoClientes,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoClientes((Selected().AcessoClientes()&2)==2?data.Selected().AcessoClientes()-2:data.Selected().AcessoClientes()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoClientes()&4)==4},value: Selected().AcessoClientes,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoClientes((Selected().AcessoClientes()&4)==4?data.Selected().AcessoClientes()-4:data.Selected().AcessoClientes()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Equipamento</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoEquipamentos()&1)==1},value: Selected().AcessoEquipamentos,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoEquipamentos((Selected().AcessoEquipamentos()&1)==1?data.Selected().AcessoEquipamentos()-1:data.Selected().AcessoEquipamentos()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoEquipamentos()&2)==2},value: Selected().AcessoEquipamentos,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoEquipamentos((Selected().AcessoEquipamentos()&2)==2?data.Selected().AcessoEquipamentos()-2:data.Selected().AcessoEquipamentos()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoEquipamentos()&4)==4},value: Selected().AcessoEquipamentos,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoEquipamentos((Selected().AcessoEquipamentos()&4)==4?data.Selected().AcessoEquipamentos()-4:data.Selected().AcessoEquipamentos()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Motorista</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoMotoristas()&1)==1},value: Selected().AcessoMotoristas,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoMotoristas((Selected().AcessoMotoristas()&1)==1?data.Selected().AcessoMotoristas()-1:data.Selected().AcessoMotoristas()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoMotoristas()&2)==2},value: Selected().AcessoMotoristas,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoMotoristas((Selected().AcessoMotoristas()&2)==2?data.Selected().AcessoMotoristas()-2:data.Selected().AcessoMotoristas()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoMotoristas()&4)==4},value: Selected().AcessoMotoristas,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoMotoristas((Selected().AcessoMotoristas()&4)==4?data.Selected().AcessoMotoristas()-4:data.Selected().AcessoMotoristas()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Sim Card</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoSimCard()&1)==1},value: Selected().AcessoSimCard,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoSimCard((Selected().AcessoSimCard()&1)==1?data.Selected().AcessoSimCard()-1:data.Selected().AcessoSimCard()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoSimCard()&2)==2},value: Selected().AcessoSimCard,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoSimCard((Selected().AcessoSimCard()&2)==2?data.Selected().AcessoSimCard()-2:data.Selected().AcessoSimCard()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoSimCard()&4)==4},value: Selected().AcessoSimCard,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoSimCard((Selected().AcessoSimCard()&4)==4?data.Selected().AcessoSimCard()-4:data.Selected().AcessoSimCard()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Usuário</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoUsuario()&1)==1},value: Selected().AcessoUsuario,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoUsuario((Selected().AcessoUsuario()&1)==1?data.Selected().AcessoUsuario()-1:data.Selected().AcessoUsuario()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoUsuario()&2)==2},value: Selected().AcessoUsuario,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoUsuario((Selected().AcessoUsuario()&2)==2?data.Selected().AcessoUsuario()-2:data.Selected().AcessoUsuario()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoUsuario()&4)==4},value: Selected().AcessoUsuario,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoUsuario((Selected().AcessoUsuario()&4)==4?data.Selected().AcessoUsuario()-4:data.Selected().AcessoUsuario()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Veículo</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoVeiculo()&1)==1},value: Selected().AcessoVeiculo,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoVeiculo((Selected().AcessoVeiculo()&1)==1?data.Selected().AcessoVeiculo()-1:data.Selected().AcessoVeiculo()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoVeiculo()&2)==2},value: Selected().AcessoVeiculo,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoVeiculo((Selected().AcessoVeiculo()&2)==2?data.Selected().AcessoVeiculo()-2:data.Selected().AcessoVeiculo()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoVeiculo()&4)==4},value: Selected().AcessoVeiculo,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoVeiculo((Selected().AcessoVeiculo()&4)==4?data.Selected().AcessoVeiculo()-4:data.Selected().AcessoVeiculo()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                    <li>
                                        <span><i class="glyphicon glyphicon-ok-circle"></i>  Perfil</span> <!--Buttons-->
                                        <div class="btn-group btn-group-xs">
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoPerfil()&1)==1},value: Selected().AcessoPerfil,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoPerfil((Selected().AcessoPerfil()&1)==1?data.Selected().AcessoPerfil()-1:data.Selected().AcessoPerfil()|1);} " class="btn btn-default">Criar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoPerfil()&2)==2},value: Selected().AcessoPerfil,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoPerfil((Selected().AcessoPerfil()&2)==2?data.Selected().AcessoPerfil()-2:data.Selected().AcessoPerfil()|2);} " class="btn btn-default">Alterar</button>
                                            <button type="button" data-bind="css: {buttonselected:(Selected().AcessoPerfil()&4)==4},value: Selected().AcessoPerfil,valueUpdate:'afterkeydown', click : function(data,event){data.Selected().AcessoPerfil((Selected().AcessoPerfil()&4)==4?data.Selected().AcessoPerfil()-4:data.Selected().AcessoPerfil()|4);} " class="btn btn-default">Excluir</button>
                                        </div>
                                        <!--/Buttons-->
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <footer>
                        <button type="submit" class="btn btn-danger">Cadastrar</button>
                    </footer>
                </form>
            </div>
        </div>  
    </div>
</div>