@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12 bootstrap-grid">
        <!-- New widget -->
        <div class='liveExample'>
            <div class="table-responsive">
                <div id="listaVeiculo" class="gridstyle col-md-12" data-bind='koGrid: gridOptions'> </div>  
             </div>
        </div>
        <!-- /End Widget -->
        <button data-bind='click: addItem'>
            <img src="~/Content/Template/images/glyphicons_006_user_add.png" />
        </button>
    </div>
</div>
