@{
    Layout = null;
}
<!-- Widget Row Start grid -->
<div class="row" id="powerwidgets">
    <div class="col-md-12 bootstrap-grid">
        <!-- New widget -->
        <div class="powerwidget green-alt" id="google-map-colors1" data-widget-editbutton="false">
            <header>
                <h2>Google Map<small>Colors #1</small></h2>
            </header>
            <div class="inner-spacer">
                <div class="map-container" id="map_canvas"></div>
            </div>
        </div>
        <!-- End .powerwidget -->
    </div>
    <!-- /Inner Row Col-md-12 -->
</div>
