@{
    Layout = null;
}
<div class="jumbotron">
    <h1><strong>ORB</strong> Widgets</h1>
    <p>ORB Power widgets &#8212; is a unique and extremely powerfull tool for organizing workspace in Dashboard. Sortable, easy-to-edit responsive blocks bring real joy and happyness. </p>
    <p><small>After playing with widgets &#8211; don't forget to clear HTML5 LocalStorage</small></p>
    <p><a href="#" class="empty-local-storage btn btn-danger"><i class="fa fa-eraser"></i> Clear all storage</a></p>
</div>